API_HOST=127.0.0.1
API_PORT=8000
API_ENV=development
FIREBASE_SERVICE_ACCOUNT_PATH=../serviceAccountKey.json
CORS_ORIGINS=http://localhost:8081,http://localhost:19006,exp://localhost:8081
GEMINI_API_KEY=api_key_de_gemini

REACT_NATIVE_PACKAGER_HOSTNAME= 172.17.33.143